.product-detail {
  min-width: 1300px;
  padding: 50px;
  position: absolute;
  top: 450px;
  left: 70px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.back-button {
  margin-bottom: 20px;
}

.product-reviews {
  margin-top: 10px;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 40px;
}

.product-header-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  padding-left: 100px;
  padding-right: 200px;
}

.left-side-product-header img {
  width: 320px;
}

.product-header-container-image {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  margin-left: 50px;
}

.product-header-container-image img {
  border: #ccc solid 2px;
  width: 90px;
  cursor: pointer;
}

.review-item {
  margin-bottom: 15px;
}



.toggle-button {
  background-color: #313e65;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  display: inline-block;
  margin: 10px 0;
  cursor: pointer;
  font-size: 16px;
}

.button-container {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  gap: 100px;
}

.hero-container-product-detail {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.product-ingredients {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-ingredients h3 {
  margin-bottom: 10px;
}

.ingredients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  list-style: none;
}


.ingredients-key {
  padding: 20px;
  text-align: center;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 40px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin: 0;
  width: 220px;
}
