.product-detail {
  background-color: rgb(245, 237, 228);
  min-width: 1300px;
  padding: 50px;
  position: absolute;
  top: 100px;
  left: 60px;
}

.back-button {
  margin-bottom: 20px;
}

.product-reviews {
  margin-top: 10px;
  padding: 10px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
}

.product-header-info{
  background-color: #4caf50;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.left-side-product-header img{
  width: 320px;
}

.product-header-container-image{
  display: flex;
  gap: 15px;
  margin-top: 10px;
  margin-left: 50px;
}

.product-header-container-image img{
  border: #ccc solid 2px;
  width: 90px;
  cursor: pointer;
}

.review-item {
  margin-bottom: 10px;
}

.toggle-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  display: inline-block;
  margin: 10px 0;
  cursor: pointer;
  font-size: 16px;
}

.button-container {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  gap: 100px;
}
