* {
    padding: 0;
    margin: 0;
}

.block-post{
    background-color: white;
    margin-left: 225px;
    padding: 40px 100px;
    margin-top: -30px;
    color: #313E65;
    border-radius: 20px;
}

.block-post button{
    margin-right: 250px;
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 18px;
}

.in-post h2 svg{
    margin-right: 10px;
}

.in-post img{
    max-height: 120px;
}

.post-add{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-top: 15px;
}

.post-icons svg{
    margin-left: 5px;
}

.post-desc{
    display: flex;
    justify-content: space-between;
    border-top: 1px black;
}


.full-post{
    display: flex;
}

.comment-block{
    background-color: white;
    margin-left: 40px;
    color: #313E65;
    padding: 10px 65px;
    border-radius: 20px;
}

.comment-details{
    display: flex;
    justify-content: space-between;
}

.date-reply{
    display: flex;
}

.comment-likes{
    display: flex;
}

.comment-type{
    border-radius: 15px;
    border: 1px ;
}

#comtype{
    border-radius: 10px;
    padding-right: 120px;
    padding-left: 10px;
    padding-top: 12px;
}

.comment-block h3{
    text-align: center;
    margin: 0 85px;
}

