* {
    padding: 0;
    margin: 0;
}

.block-post{
    background-color: white;
    /* margin-left: 225px; */
    padding: 50px 100px;
    margin-top: 50px ;
    /* margin-top: -30px; */
    color: #313E65;
    border-radius: 20px;
}

.block-post button{
    /* margin-right: 250px; */
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 18px;
}

.in-post h2 svg{
    margin-right: 10px;
}

.in-post img{
    max-height: 120px;
}

.post-add{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-top: 15px;
}

.post-icons svg{
    margin-left: 5px;
}

.post-desc{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    /* border-top: 1px black; */
}

.full-post{
    display: flex;
    margin-bottom: 25px;
}

.comment-block{
    background-color: white;
    margin-left: 40px;
    margin-top: 50px;
    color: #313E65;
    padding: 30px 65px;
    border-radius: 20px;
    justify-content: space-between;
}

.comment-block form{
    margin-bottom: 20px;
    display: flex;
}

.comment-block input{
    padding: 10px;
    border-radius: 10px;
}

.comment-block button{
    margin-left: 5px;
    border-radius: 5px;
    border: none;
    background-color: #88CFF1;
    padding: 5px;
}

.comment-block button:hover{
    margin-left: 5px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #4a768a;
    padding: 5px;
}

.comments{
    padding: 3px;
    overflow-y: scroll;
    height: 300px;
}

.com-sep{
    margin-bottom: 25px;
    border-bottom: 1px solid #313E65;;
}

.comment-details{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.date-reply{
    display: flex;
}

.date-reply h6{
    margin-right: 13px;
}

.comment-likes{
    display: flex;
}

.comment-likes h6{
    margin-right: 5px;
}

.comment-type{
    margin-bottom: 10px;
}

#comtype{
    border-radius: 10px;
    padding-right: 120px;
    padding-left: 10px;
    padding-top: 12px;
}

.comment-block h3{
    text-align: center;
    margin: 0 85px;
}
