*{
  margin: 0;
  padding: 0;
}

.background-scan {
  background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.7)), url('../../assets/home-bg-blue-flower.avif');
  background-size: cover;
  background-color: red; /* Not needed since you have a background image */
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 120vh; /* Full viewport height */
  display: flex; /* Ensure contents are centered */
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
}


.upload-predict-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f9fc;
  padding: 30px;
  border-radius: 10px;
  max-width: 500px;
  margin: 50px auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #224f64;
}

/* input[type="file"] {
  background: none;
  border: none;
}

.upload-file{
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #88cff1;
  border-radius: 5px;
  background-color: #fff;
  width: 100%;
  cursor: pointer;
} */

#file-upload {
  opacity: 0; 
  position: absolute;
}

.upload-file {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #88cff1;
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
  text-align: center;
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  color: #224f64;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #88cff1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #224f64;
}

.upload-description {
  color: #313E65;
  max-width: 300px;
  margin-bottom: 20px;
}

.prediction-result {
  margin-top: 20px;
  text-align: center;
}

.prediction-result h3 {
  font-size: 20px;
  color: #224f64;
  margin-bottom: 10px;
}

.prediction-result p {
  font-size: 16px;
  color: #333;
}
