* {
    padding: 0;
    margin: 0;
}

.community-page{
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    /* background-color: red; */
}

.comheadpic{
    /* position: absolute; */
    top: -80px;
    left: 0;
    width: 100%;
    /* height: auto; */
}

.comsidebar{
    /* background-color: red; */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 500px;
    margin-left: 50px;
    margin-top: 50px;
    padding: 50px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 20px;
}

.comsidebar h1{
    justify-content: left;
    margin: 20px;
    margin-top: 20px;
    padding: 5px;
    background-color: #88CFF1;
    border-radius: 30px;
    /* background-color: ; */
    /* text-align: left; */
    /* background-color: red; */
}

.comsidebar h2{
    justify-content: left;
    margin: 20px;
    padding: 5px;
    text-align: left;
    /* background-color: red; */
}

.community-page h1{
    /* margin-left: 125px;
    margin-bottom: -20px; */
    /* user-select: none;
    justify-content: center;
    width: 100px;
    color: #313E65; */
    /* position: fixed; */
}

.comsidebar{
    padding: 10px;
    width: 30%;
    /* position: fixed; */
}

.comsidebar .insidebar{
    /* padding-top: 20px; */
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
}

.comsidebar .insidebar h3{
    margin-top: 30px;
    color: #313E65;
}

.comsidebar .insidebar h3:hover{
    color: #88CFF1;
    cursor: pointer;
}

.insidebar h3.active{
    color: #88CFF1;
}

.comcontent{
    display: flex;
}

.forumcontent{
    margin-left: 50px;
}

.trendz .blocks h4 svg{
    margin-right: 10px;
    color: #313E65;
}


.blocks{
    background-color: white;
    padding: 60px 100px;
    margin-bottom: 35px;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    user-select: none;
    cursor: pointer;
}

.com-scroll {
    padding-top: 50px;
    /* margin-left: 250px; */
    height: 500px; 
    overflow-y: scroll; 
    /* margin-bottom: 20px; */
    color: #313E65;
}

.trend-post{
    padding-right: 330px;
}

.trend-post h5{
    padding-top: 25px;
    color: #313E65;
}

.com-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #313E65;
}
